@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

body {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	color: #3a3a3a;
    font-weight: 300;
    text-align: center;
    background-image: url("../images/pen-on-paper.jpg");
    background-repeat:round;
    object-fit:cover;
}

h1 {
    font-family:'Rampart One', sans-serif;
    font-style: italic;
    text-align: center;
    font-weight: 300;
    margin: 0px;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(241, 172, 42);
    color: #3a3a3a;
}

.question {
    font-size: 30px;
    margin-bottom: 10px;
}

.answers {
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
}

.answers label {
    display: block;
    margin-bottom: 10px;
}

button:hover {
	background-color: rgb(170, 162, 51);
}

#quiz-questions {
    text-align: center;
    font-weight: 900;
}

#results {
    font-family:'Rampart One', sans-serif;
    text-align: center;
    font-weight: 900;
    margin: 0px;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(241, 172, 42);
    color: #3a3a3a;
}

#buttons {
    font-family:'Open Sans', sans-serif;
    text-align: center;
    font-weight: 300;
    margin: 0px;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(241, 172, 42);
    color: #3a3a3a;
}