@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');

body {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	color: #3a3a3a;
    font-weight: 300;
    text-align: center;
    background-color: #fafafa;
}

h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    margin: 0px;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(153, 108, 108);
    color: rgb(255, 255, 255);
}

.question {
    font-size: 30px;
    margin-bottom: 10px;
}

.answers {
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
}

.answers label {
    display: block;
    margin-bottom: 10px;
}



button:hover {
	background-color: rgb(170, 162, 51);
}

